<div class="container" style="padding-top: 36px;">
  <div class="row">
    <div class=" col-md-8 col-md-offset-2 well well-sm text-center">
      <h1 id="greeting">Welcome to Robot World: A World of Robots</h1>

      <ul>
        <li><a href="/robots">Robot Index</a></li>
        <li><a href="/robots/new">Make A New Robot!</a></li>
      </ul>
    </div>
  </div>
</div>
