<form action="/robots" method="post">
  <p>Enter a New Robot</p>
  <input type='text' name='robot[name]' placeholder='Name:'/><br/>
  City: <input type='text' name='robot[city]'/><br/>
  State: <input type='text' name='robot[state]'/><br/>
  B-Day: <input type='text' name='robot[birthday]'/><br/>
  Date Hired: <input type='text' name='robot[hired]'/><br/>
  Department: <input type='text' name='robot[department]'/><br/>
  <input type='submit'/>
</form>
